<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m7yang.tinyweibo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".V.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".V.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".V.EditActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".V.SyncActivity"
            android:label="@string/title_activity_sync"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="com.m7yang.tinyweibo.C.DBContentProvider"
            android:authorities="com.tinyweibo.DBContentProvider"
            />
    </application>

</manifest>
